<button class="spinner-button <%=bootstrapType+' '+bootstrapSize+' '+buttonClass %>"
        <% if(buttonId){ %> title='<%=buttonId%>' <% } %>
        <% if(buttonTitle){ %> title='<%=buttonTitle%>' <% } %>
        <% if(disabled){ %> disabled='disabled' <% } %> >
        <% if(hasIcon && !spinning){ %>
            <span class="<%=buttonIcon%>"></span>
        <% } %>
        <% if(spinning){ %>
            <span class="<%=spinnerIcon%>"></span>
        <% } %>
        <% if(hasText){ %>
            <%=buttonText%>
        <% } %>
</button>